.news-card {
  margin-bottom: 27px;

  .thumbnail-wrapper {
    img {
      min-width: 28vw !important;
      height: 84px !important;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .title-section {
    label {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}